// fonts
.site-title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    text-transform: lowercase;
    color: #464646 !important;
}

.post-title {
    font-family: 'Roboto Mono', monospace;
    color: #3b6b56;
}

h1,h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}


// spacing
.wrapper {
    max-width: calc(1700px - (#{$spacing-unit}));
}

.site-sidebar {
    padding: 2rem 20px 2rem 0px;;
}

.wrapper {
    max-width: calc(1700px - (2rem * 2));
    padding-right: 2rem;
    padding-left: 1rem;
}

.site-body{
    grid-template-columns: calc(1700px * 0.09) 1fr;
}

@media (max-width: 768px) {
    .site-body {
        grid-template-columns: 1fr;
    }

    .site-title {
        font-size: 1.15rem;
    }
    
    .wrapper {
        padding-left: 10px;
    }
}

// removing stuff
.feed-subscribe, .sidebar-icon {
    display: none;
}